<%= simple_form_for(@user,
                    html: { class: 'form-flex' } ) do |f| %>
    <div class="card__face front_card">
      <%= f.input :username, as: :string %>
      <%= f.input :email, as: :email %>

      <% unless @user.persisted? %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      <% end %>

      <div class="sliding_button">
        Finissez le formulaire
      </div>
    </div>
    <div class="card__face back_card ">
      <i class='bx bx-left-arrow-alt'></i>
        <h2>Modifiez votre collaborateur</h2>
        <h3>Ici vous pouvez modifier l'ensemble des critères de votre employé(e)</h3>
        <%= f.association :user_jobs, as: :check_boxes,
                          label_method: :job,
                          collection: Job.all,
                          class: 'michel',
                          checked: @user.jobs.ids %>
        <%= f.input :contract_hours_per_week, as: :string,
                    label: "Number of hours work per week" %>
        <%= f.input :status,
                    collection: User::STATUS%>
        <%= f.button :submit, class: "submit_button"  %>
    </div>
<% end %>
