<div class="container_cards">
  <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
      <table class="tableau-style">
    <tbody>
        <tr>
          <td><%= image_tag "pp.jpeg", class:"pp" %></td>
          <td><strong>Clément Moréno</strong></td>
          <td>Runner</td>
          <td>25 Heures</td>
          <td>22heures / <span style="color:green">25 heures</span></td>
          <td>
          <img src="images/216514_warning_icon.svg" alt=""></td>
          <td>
          <%= image_tag "edit.png", style:'width:30px' %></td>
          <td><%= image_tag "bin.png", style:'width:30px' %></td>
        </tr>
      </tbody>
    </table>
</div>
