
<div class="container_cards">
  <div class="titre_presentation">
  <h2>Suivez la progression des votre équipe jour après jour</h2>
  <h3>Vous trouverez ici chaque employé, son nombre d'heures, triés par postes respectifs</h3>
  </div>
    <div class="search_bar_container">
          <div class="search_bar">
            <div class="input">
              <%= simple_form_for :search, method: :get do |f| %>
              <%= f.input :query, placeholder: "Find an employee",
                          label: false,
                          input_html: { name: :query,
                          value: params.dig(:query)} %>
              <% end %>
            </div>
          </div>
        </div>
    <% @users.each do |user| %>
      <table class="tableau-style">
        <tbody>
            <tr>
              <td><%= image_tag "pp.jpg", class:"pp" %></td>
              <td><strong><%= user.username %></strong></td>
              <td class="display-jobs">
                <% user.jobs.each do |job| %>
                  <div class='span-job'><%= job.job %></div>
                <% end %>
              </td>
              <td><%= user.contract_hours_per_week %> Heures</td>
              <td>22heures / <span style="color:green">25 heures</span></td>
              <td>
              <%# <%= user.NOMBRE DHEURE EFFECTUEE / N° TOTALE %>
              <%= image_tag "alert.png", class:"almost", style: "width: 30px"%>
              <%= image_tag "danger.png", class:"danger", style: "width: 30px" %>
              </td>
              <td>

              <%= link_to image_tag("edit.png", style: 'width:20px'), edit_user_path(user) %>
              <%= link_to image_tag("edit.png"), edit_user_path(user), style:'width:30px' %></td>
            </tr>
          </tbody>
        </table>
    <% end %>
</div>
