<div class="calendar">
  <div id="calendar-day">
    <div id="menu">
      <div id="menu-navi">
        <i class='bx bxs-downvote' id="left_arrow_day"></i>
          <h2 > Par jour </h2>
        <i class='bx bxs-downvote' id="right_arrow_day"></i>
      </div>
      <span id="renderRange" class="render-range"></span>
    </div>
  </div>
<div id="calendar-month"
     data-user_shifts="<%= @user_shifts.to_json %>">
  <div id="menu">
      <span id="menu-navi">
        <i class='bx bxs-downvote' id="left_arrow_month"></i>
        <h2>Par mois</h2>
        <i class='bx bxs-downvote' id="right_arrow_month"></i>
      </span>
      <span id="renderRange" class="render-range"></span>
    </div>
</div>
<div class="modif_manuelle">
    <div class="profil_container">
        <div class="search_bar_container">
          <div class="search_bar">
            <div class="search_icon">
                <i class='bx bx-search-alt'></i>
            </div>
            <div class="search_bar_container">
              <div class="search_bar">
                <div class="input">
                  <%= simple_form_for :search, method: :get do |f| %>
                  <%= f.input :query, placeholder: "Find a user",
                              label: false,
                              input_html: { name: :query,
                              value: params.dig(:query),
                              id: 'my_search' } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="modif_contenu">
        <% @users.each do |user| %>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpg', class: 'sidebar_app' %>
          <h4><%= user.username %></h4>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
