<div class="calendar_sidebar">

</div>
<div class="calendar">
  <div id="calendar-day">
    <div id="menu">
      <div id="menu-navi">
        <i class='bx bxs-downvote' id="left_arrow_day"></i>
          <button type="button" class="btn btn-default btn-sm move-today" id="current-day"><h2>Today</h2></button>
        <i class='bx bxs-downvote' id="right_arrow_day"></i>
      </div>
      <span id="renderRange" class="render-range"></span>
    </div>
  </div>
<div id="calendar-month"
     data-user_shifts="<%= @user_shifts.to_json %>">
  <div id="menu">
      <span id="menu-navi">
        <i class='bx bxs-downvote' id="left_arrow_month"></i>
        <button type="button" class="btn btn-default btn-sm move-today" id="current-month"><h2>Par mois</h2></button>
        <i class='bx bxs-downvote' id="right_arrow_month"></i>
      </span>
      <span id="renderRange" class="render-range"></span>
    </div>
</div>
<div class="modif_manuelle">
    <div class="profil_container">
        <div class="search_bar_container">
          <div class="search_bar">
            <div class="search_icon">
                <i class='bx bx-search-alt'></i>
            </div>
            <div class="input">
              <input type="text" placeholder="Un nom, un poste ?" id="my_search">
            </div>
          </div>
        </div>
      <div class="modif_contenu">
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
