  <div class="calendar">
    <div id="calendar-day">
      <div id="menu">
        <span id="menu-navi">
          <button type="button" class="btn btn-default btn-sm move-today" id="current-day">Today</button>
          <button type="button" class="btn btn-default btn-sm move-day" id="move-prev-day"><div class="calendar-icon ic-arrow-line-left"></div>
          </button>
          <button type="button" class="btn btn-default btn-sm move-day" id="move-next-day"><div class="calendar-icon ic-arrow-line-right" ></div>
          </button>
        </span>
        <span id="renderRange" class="render-range"></span>
      </div>
    </div>
  <div id="calendar-month"><div id="menu">
        <span id="menu-navi">
          <button type="button" class="btn btn-default btn-sm move-today" id="current-month">Current-month</button>
          <button type="button" class="btn btn-default btn-sm move-day" id="move-prev-month">
            <div class="calendar-icon ic-arrow-line-left"></div>
          </button>
          <button type="button" class="btn btn-default btn-sm move-day" id="move-next-month">
            <div class="calendar-icon ic-arrow-line-right" ></div>
          </button>
        </span>
        <span id="renderRange" class="render-range"></span>
      </div>
  </div>
<div id="calendar-month"><div id="menu">
      <span id="menu-navi">
        <button type="button" class="btn btn-default btn-sm move-today" id="current-month">Current-month</button>
        <button type="button" class="btn btn-default btn-sm move-day" id="move-prev-month">
          <div class="calendar-icon ic-arrow-line-left"></div>
        </button>
        <button type="button" class="btn btn-default btn-sm move-day" id="move-next-month">
          <div class="calendar-icon ic-arrow-line-right" ></div>
        </button>
      </span>
      <span id="renderRange" class="render-range"></span>
    </div>
</div>
<div class="modif_manuelle">
    <div class="profil_container">
        <div class="search_bar_container">
          <div class="search_bar">
            <div class="search_icon">
                <i class='bx bx-search-alt'></i>
            </div>
            <div class="input">
              <input type="text" placeholder="Un nom, un poste ?" id="my_search">
            </div>
          </div>
        <div class="modif_contenu">
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
          <div class="whole_profil_description">
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <h4>Clement Moreno</h4>
          </div>
        </div>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
