<div class="modif_manuelle ">
    <div class="profil_container">
        <div class="search_bar_container">
          <div class="search_bar">
            <div class="search_icon">
                <i class='bx bx-search-alt'></i>
            </div>
            <div class="input">
              <input type="text" placeholder="Un nom, un poste ?" id="my_search">
            </div>
          </div>
        </div>
      <div class="modif_contenu">
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
        <div class="whole_profil_description">
          <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
          <h4>Clement Moreno</h4>
        </div>
      </div>
    </div>
  </div>
