<div class="modif_manuelle ">
    <div class="modif_contenu">
      <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
      <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
      <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
      <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
      <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
            <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
                  <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
                        <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
                              <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>

      <%= image_tag 'pp.jpeg', class: 'sidebar_app' %>
    </div>
  </div>
